html {
  font-family: Arimo, sans-serif;
}

body {
  margin: 8px 7.5vw;
}

h1 {
  font-size: 1.1rem;
  margin: 0;
}

h4 {
  font-size: 1rem;
  margin: 0;
}

h5 {
  font-size: 0.9rem;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  background-color: #ff6600;
  align-items: center;
  padding: 5px 20px;
  border-radius: 3px 3px 0 0;
}

.main-nav-links {
  margin: 0 15px;
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 3px;
}

.nav-right {
  margin-left: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: #f6f6ef;
}

form {
  display: flex;
  flex-direction: column;
  margin: 8px 18px 0;
}

form > * {
  margin: 10px 0;
}

form label {
  font-size: 0.9rem;
  font-weight: 700;
  display: inline-block;
  width: 3.5rem;
  text-align: right;
  margin-right: 5px;
}

form input {
  font-size: 0.8rem;
  border: none;
  border-radius: 2px;
  padding: 8px;
  width: 300px;
  box-shadow: 0 0 3px 1px lightgray;
}

form input:focus {
  outline: none;
  box-shadow: 0 0 4px 1px darkgray;
}

form > button {
  width: 4rem;
  margin: 5px 0px 15px 65px;
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-size: 0.85rem;
  background-color: lightslategray;
  color: white;
  cursor: pointer;
  transition: all 0.15s;
}

form > button:hover {
  background-color: dimgray;
}

form > hr {
  margin: 0;
  border: 0.5px solid lightgray;
}

.login-input label {
  width: 70px;
}

.account-form button {
  width: 4rem;
  margin-left: 80px;
}

#create-account-form button {
  padding: 10px;
  width: 8rem;
}

.articles-list {
  margin: 20px 5px;
}

.articles-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
  cursor: pointer;
}

.star,
.trash-can,
.pencil {
  font-size: 0.75rem;
  margin: 0 2px;
  cursor: pointer;
}

.trash-can:hover {
  color: crimson;
}

.pencil:hover {
  color: darkblue;
}

.article-link > strong {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.article-link:hover {
  text-decoration: none;
}

.article-hostname:hover {
  text-decoration: underline;
}

.article-author {
  margin-top: 5px;
  margin-left: 25px;
}

.article-username {
  display: block;
  margin-top: 5px;
  margin-left: 25px;
}

#favorited-articles,
#filtered-articles,
#my-articles {
  list-style: none;
  padding-left: 20px;
}

.account-forms-container {
  padding-left: 20px;
}

#create-account-form button {
  margin-bottom: 25px;
}

#user-profile {
  padding: 10px 20px 20px;
  font-size: 0.9rem;
}

#user-profile > * {
  margin: 10px 0;
}

.hidden {
  display: none;
}

@media screen and (max-width: 576px) {
  body {
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  body {
    max-width: 900px;
    margin: 8px auto;
  }
}

/* * {
  outline: 2px solid blue;
} */

nav {
  border-radius: 15px 15px 0 0;
  background-color: #4A738C;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: Play;
}

.nav-title:hover, .nav-link:hover, .nav-title:link {
  background-color: #FF9800;
  color: black;
  text-decoration: none;
}


.card {
  display: block;
}

.card-header {
  background-color:#4A738C;
  font-family: Play;
}

.articles-container {
  background-color: #96C6D9;
}

.fa-edit {
  color: red;
}

.card-body {
  font-family: Amatic;
  font-size: .9rem;
}

#story-form-container {
  background-color: #96C6D9;
}




/* Color Theme Swatches in Hex */
.Futuristic-dark-podium-with-light-and-reflection-background-1-hex { color: #0A0B0D; }
.Futuristic-dark-podium-with-light-and-reflection-background-2-hex { color: #213140; }
.Futuristic-dark-podium-with-light-and-reflection-background-3-hex { color: #4A738C; }
.Futuristic-dark-podium-with-light-and-reflection-background-4-hex { color: #73A2BF; }
.Futuristic-dark-podium-with-light-and-reflection-background-5-hex { color: #96C6D9; }



/* Color Theme Swatches in Hex */
.MMUPs-Gray-Shades-1-hex { color: #40403F; }
.MMUPs-Gray-Shades-2-hex { color: #80807E; }
.MMUPs-Gray-Shades-3-hex { color: #C0C0BC; }
.MMUPs-Gray-Shades-4-hex { color: #CDCDC8; }
.MMUPs-Gray-Shades-5-hex { color: #A6A6A3; }

/* Color Theme Swatches in RGBA */
.MMUPs-Gray-Shades-1-rgba { color: rgba(64, 64, 63, 1); }
.MMUPs-Gray-Shades-2-rgba { color: rgba(128, 128, 125, 1); }
.MMUPs-Gray-Shades-3-rgba { color: rgba(191, 191, 188, 1); }
.MMUPs-Gray-Shades-4-rgba { color: rgba(204, 204, 200, 1); }
.MMUPs-Gray-Shades-5-rgba { color: rgba(166, 166, 163, 1); }

/* Color Theme Swatches in HSLA */
.MMUPs-Gray-Shades-1-hsla { color: hsla(60, 1, 25, 1); }
.MMUPs-Gray-Shades-2-hsla { color: hsla(60, 1, 49, 1); }
.MMUPs-Gray-Shades-3-hsla { color: hsla(60, 3, 74, 1); }
.MMUPs-Gray-Shades-4-hsla { color: hsla(60, 4, 79, 1); }
.MMUPs-Gray-Shades-5-hsla { color: hsla(60, 1, 64, 1); }





/* Color Theme Swatches in Hex */
.Deep-Space-1-hex { color: #000000; }
.Deep-Space-2-hex { color: #030917; }
.Deep-Space-3-hex { color: #081525; }
.Deep-Space-4-hex { color: #0E1E2E; }
.Deep-Space-5-hex { color: #202D3F; }

/* Color Theme Swatches in RGBA */
.Deep-Space-1-rgba { color: rgba(0, 0, 0, 1); }
.Deep-Space-2-rgba { color: rgba(3, 9, 23, 1); }
.Deep-Space-3-rgba { color: rgba(8, 21, 37, 1); }
.Deep-Space-4-rgba { color: rgba(14, 30, 46, 1); }
.Deep-Space-5-rgba { color: rgba(32, 45, 63, 1); }

/* Color Theme Swatches in HSLA */
.Deep-Space-1-hsla { color: hsla(0, 0, 0, 1); }
.Deep-Space-2-hsla { color: hsla(222, 76, 5, 1); }
.Deep-Space-3-hsla { color: hsla(213, 64, 8, 1); }
.Deep-Space-4-hsla { color: hsla(210, 53, 11, 1); }
.Deep-Space-5-hsla { color: hsla(214, 32, 18, 1); }


